.container {
  padding: 0 100px;
  display: flex;
  flex-flow: wrap row;
  column-gap: 30px;

  > .Item {
    > .description {
      width: 500px;
      height: 500px;
      > p {
        text-align: justify;
      }
      > h1 {
        font-size: 35px;
        width: 100%;
      }
      > button {
        margin-top: 20px;
        padding: 5px 15px;
        color: var(--underline-color);
        height: 40px;
        font-size: 1em;
        text-transform: uppercase;
        border: var(--underline-color) 1px solid;
      }
      > button:hover {
        color: #000000;
        border-color: #000000;
        cursor: pointer;
      }
    }
  }
  > img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
}
