@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap");
:root{
  --uppernav-color: #d3d1d1;
  --underline-color: #b8ae79;
  --navMain-color: #ffffff;
}
* {
  font-family: "Poppins", sans-serif;
}
.icon {
  font-size: 1rem;
}
#list-menu {
  height: 30px;
  width: 100%;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  font-size: 0.9rem;
  background: var(--uppernav-color);
  padding: 3px 10px;
}
#list-menu li:nth-child(6) {
  margin-right: 100px;
}
#list-menu li, .menuButton {
  position: relative;
}

#list-menu li::after, .menuButton::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 0px;
  height: 4px;
  background: var(--underline-color);
  transition: 0.2s;
}
#list-menu li:hover:after,.menuButton:hover:after{
  width: 100%;
  left: 0;
}

/* LOWER NAV-BAR */

header {
  background: var(--navMain-color);
  width: 100vw;
  border-bottom: 5px solid var(--underline-color);
  color: #000000;
}
.image{
  width: 130px;
}

video {
  position: absolute;
  z-index: -1;
  height: 95%;
  width: 100%;
  object-fit:cover;
}
.App{
  height: 100%;
  width: 100%;
}
.drop{
  width: 100%;
  height: 300px;
  display: none;
  background: var(--navMain-color);
}
.drop.show{
  display: block;
}
.nav-area{
  margin: 0 auto;
  display: flex;
  > ul {
    display: flex;
    padding: 0 10px;
    gap: 20px;
    margin: auto 0;
    > li{
      list-style: none;
      > button{
        border: 0;
        
      }
    }
  }
}
a{
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-bar{
  width: 100%;
}
button{
  background: var(--navMain-color);
}
.rotatedSquare{
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: var(--underline-color);
  position: absolute;
  top: calc(95% - 25px);
  left: 50%;
}
.video{
  position: relative;
  height: 400px;
}