@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.icon {
  font-size: 1rem;
}
#list-menu {
  height: 30px;
  width: 100%;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  font-size: 0.9rem;
  background: #d3d1d1;
  padding: 3px 10px;
}
#list-menu li:nth-child(6) {
  margin-right: 100px;
}
#list-menu li {
  position: relative;
}

#list-menu li::after, .menu-items a::after, .menu-items button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 0px;
  height: 2px;
  background: #333;
  transition: 0.2s;
}
#list-menu li:hover:after,.menu-items a:hover:after, .menu-items button:hover:after {
  width: 100%;
  left: 0;
}

/* LOWER NAV-BAR */

header {
  background: #b8ae79;
  color: #000000;
}

.nav-area {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.image{
  width: 130px;
}

video {
  position: absolute;
  z-index: -1;
  top: 0px;
  max-height: 100vh;
  width: 100%;
  object-fit:cover;
}
.App{
  height: 100%;
  width: 100%;
}